<h2>Cambiar su perfil </h2>

        <label>ingrese su password anterior</label>
        <input id="passhold" type="password" name="passhold" />
        <span id="spam-pass-hold"></span>

        <hr />
        <label>Ingrese su nueva password</label>
        <input id="passnew" type="password" name="passnew" />
        <span id="spam-pass-new"></span>
        <hr />

        <label>re ingres su nueva password</label>
        <input id="passnewverify" type="password" name="passnewverify" />
        <span id="spam-pass-new-verify"></span>
        <hr />

     <button id="btn-changePassword" class="btn btn-success">Guardar</button>
    <script>

       
        let passnew_value = $("#passnew").val
        //abc123%5

        
        $("#passnew").keyup(function () {
              if ($(this).val() != $("#passnewverify").val()) {
                let valor = "Las contrasennas no coinciden"
                $("#spam-pass-new").text(valor)
                $("#spam-pass-new-verify").text(valor);
            }
            else {
                $("#spam-pass-new").text("")
                $("#spam-pass-new-verify").text("");
           }
        })
        $("#passnewverify").keyup(function () {
            
            if ($(this).val() != $("#passnew").val()) {
                let valor = "Las contrasennas no coinciden"
                $("#spam-pass-new").text(valor)
                $("#spam-pass-new-verify").text(valor);
            }
            else {
                $("#spam-pass-new").text("")
                $("#spam-pass-new-verify").text("");
           }
          
        })

  

        $("#btn-changePassword").click(function () {
             let passhold = $("#passhold").val();
            let url = `/User/VerifiPassword?pass=${passhold}`
        

            $.ajax(url).done(function (response) {
                if (response == "error") {
                    $("#spam-pass-hold").text("La contraseña es icnorrecta")
                }
                else {
                    $("#spam-pass-hold").text("")
                     if ($("#passnewverify").val() != $("#passnew").val()) {
                        let valor = "Las contrasennas no coinciden"
                        $("#spam-pass-new").text(valor)
                        $("#spam-pass-new-verify").text(valor);
                    }
                     else {

                        $("#spam-pass-new").text("")
                        $("#spam-pass-new-verify").text("");
                    }
                    let valor = $("#passnew").val();

                    $.ajax({
                        type: "POST",
                        url: "/User/contrasennaPasword",
                        data: { datos: valor },
                        success: function (e) {
                            if (e == "ok") {
                                alert("Datos Guardado Satisfactoriamente")
                             location.reload()}
                        }
                    });

                }
               
            })
            
             
        })

      
    </script>
