@*<ul>
        <li>Editar Perfil</li>
        <li>Cambiar Contraseña </li>
        <li>Salir</li>
    </ul>*@
<button id="editPerfile" class="btn btn-success">Editar perfil</button>
<button id="ChangePassoword" class="btn btn-success">Cambiar Contraseña</button>
<a class="btn btn-success" href="/User/Salir">Salir</a>

<div id="request">

</div>
<script>
    $(document).ready(

        $("#editPerfile").click(function () {

            $.ajax("/User/EditProfile").done(function (response) {
                //alert("asd")
                //console.log(response)
                $("#request").html(response)
            })
        })
    );

        $("#ChangePassoword").click(function () {

            $.ajax("/User/changePassword").done(function (response) {
                //alert("asd")
                //console.log(response)
                $("#request").html(response)
            })

        })


</script>