
@{
    ViewBag.Title = "Conocenos";
}


<div class="container">
    <div class="row">
        <div class="text-center">
            <div class="col-md-5">


                <img src="https://www.publicdomainpictures.net/pictures/90000/velka/happy-mother-with-baby.jpg" style="width:100%;height:auto" alt="Alternate Text" />
            </div>
            <div class="col-md-7">

                <h3>¡BIENVENIDOS A NUESTRA NUEVA TIENDA ONLINE!</h3>
                <br />
                <div>
                    <p align="justify">
                        Nuestro objetivo es el de satisfacer los requisitos de nuestros clientes y
                        hacer de la compra algo mucho más sencillo y cómodo. Ahora, con esta nueva opción,
                        puedes ver, comparar y comprar sin salir de casa.
                    </p>
                </div>

                <div>
                    <p align="justify">
                        Polony Store es sinónimo de calidad y garantía. Seleccionamos los mejores
                        fabricantes del mercado para ofrecerte siempre lo que mejor se adapte a tus necesidades.
                        Además, realizamos presupuestos personalizados al 100% para adaptarlo a las necesidades y
                        presupuesto del cliente.
                    </p>
                </div>

                <div>
                    <p align="justify">
                        En nuestro blog, os daremos información, consejos e ideas para que le saques
                        el máximo partido a todo el material adquirido en Polony Store.
                    </p>
                </div>

                <div>
                    <p align="justify">
                        En definitiva, aquí encontrarás un espacio donde conocer las últimas novedades
                        del sector y toda la información necesaria y los mejores consejos.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

