@{
    ViewBag.Title = "Home Page";
}
<style>
    strong {
        color: rgba(255, 0, 0, 0.72);
    }

    .name {
        color: rgba(0, 0, 0, 0.85);
    }

    .precio {
        color: red;
    }

    label {
        color: rgba(248, 245, 245, 0.77);
    }

    .a {
        color: rgba(248, 245, 245, 0.77);
    }

    .alto {
        height: 100%;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="container">
    @*Carousel*@
    <a id="boton"></a>
    <div id="car">

    </div>
    @*Carousel*@
</div>

<div class="container">
    <div class="row">
        <a id="btn"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-10"> <div id="slick-nav-2" class="products-slick-nav"></div></div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row" style="width:120px;background-color:#e01c1c;margin-bottom:-24px; border-radius:5px">
                <h2 style="color:white;font-family: serif">Ofertas</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr style="bottom:0px;height:3px;background-color:#f20c0c" />
            </div>
        </div>
        <div id="slick-nav-1" class="products-slick-nav"></div>
        @*index de ofertas*@
        <div id="div">
        </div>
        @*Hasta aquí index de ofertas*@

        <br />
        <br />
        <div class="container">
            <div class="row" style="width:130px;background-color:#e01c1c;margin-bottom:-24px; border-radius:5px">
                <h2 style="color:white;font-family: serif">Productos</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr style="bottom:0px;height:3px;background-color:#f20c0c" />
            </div>
        </div>


        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center col-sm-6">
                <div class="product">
                    <div class="product-body">
                        <div class=" product-img hovereffect" style="padding:50px">
                            <img src="@item.imagen" style="width:200px;height:250px" />
                            <br />
                            <strong class="name">@item.nombre</strong>
                            <p class="precio">S/ @item.precio</p>
                            <div class="overlay">
                                <h2>@item.nombre</h2>
                                <br />
                                <br />
                                <br />
                                <br />
                                <a class="info" href="/Producto/Especificaciones?ID=@item.Id">Vista Rápida</a>

                                @*<a href="/Producto/Especificaciones?ID=@item.Id" class="quick-view"><i class="fa fa-eye"></i><span style="color:white" class="tooltipp">Vista rápida</span></a>*@

                            </div>
                        </div>
                        <div class="product-btns">

                            @*<a class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Añadir a la compra</span></a>*@
                            <a href="/Producto/Especificaciones?ID=@item.Id" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver Detalles</span></a>

                        </div>


                    </div>
                    <div class="product-body">
                        <button class="btn btn-outline-dark" style="background:black;color:white"><i class="fa fa-shopping-cart"></i> Agregar al Carrito</button>
                    </div>
                </div>
            </div>
        }
        <br />
    </div>
    <div id="slick-nav-1" class="products-slick-nav"></div>

</div>
<div id="slick-nav-1" class="products-slick-nav"></div>


<style>
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(0,0,0,0.5);
            -webkit-transition: all .4s ease-in-out;
            transition: all .1s ease-in-out
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;
        }

        .hovereffect h2 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            position: relative;
            font-size: 17px;
            background: rgba(0,0,0,0.6);
            -webkit-transform: translatey(-100px);
            -ms-transform: translatey(-100px);
            transform: translatey(-100px);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding: 10px;
        }

        .hovereffect a.info {
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            background-color: transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin: 50px 0 0;
            padding: 7px 14px;
        }

            .hovereffect a.info:hover {
                box-shadow: 0 0 5px #fff;
            }

        .hovereffect:hover img {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect:hover .overlay {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .hovereffect:hover h2, .hovereffect:hover a.info {
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-transform: translatey(0);
            -webkit-transform: translatey(0);
            transform: translatey(0);
        }

        .hovereffect:hover a.info {
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
        }
</style>

<script>
    $("#boton").html(function (e) {
        $.ajax("/Carousel/Index").done(function (res) {
            $("#car").html(res);
        })
    });
</script>

<script>
    $("#btn").html(function (e) {
        $.ajax("/Oferta/Ofertas").done(function (res) {
            $("#div").html(res);
        })
    });
</script>

