
@{
    ViewBag.Title = "IndexPrincipal";
}

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> <img src="@item.imagen"  style="width:280px;height:150px" /></td>
                <td><a class="btn btn-danger"  href="/Carousel/Eliminar?ID=@item.Id">Eliminar</a></td>
            </tr>
            }
        </tbody>
    </table>


</div>