
    <form action="#" method="post">
        ingrese su password anterior
        <input />
        ingrese su nueva password
        <input />
        re ingres su nueva password
        <input />
        <button class="btn btn-success">Guardar</button>
    </form>
