
@{
    ViewBag.Title = "Crear";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <form action="/Direccion/Crear" method="post">
                <br />
                <label>Departamento</label>
                <input class="form-control" name="Departamento" value="" />
                <br />
                <label>Id</label>
                <input class="form-control" name="IdUsuario" value="2" />
                <br />
                <label>Provincia</label>
                <input class="form-control" name="Provincia" value="" />
                <br />
                <label>Distrito</label>
                <input class="form-control" name="Distrito" value="" />
                <br />
                <label>Direccion</label>
                <input class="form-control" name="Direccion" value="" />
                <br />
                <label>Código Postal</label>
                <input class="form-control" name="CodigoPostal" value="" />
                <br />
                <button>Crear</button>
            </form>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

